@charset "UTF-8";


body {
	background-color: #cad3cd;
}
article {
	min-width: 320px;
	max-width: 1500px;
	width: 100%;
	background-color: #cad3cd;
	}

#container {
	min-width: 320px;
	max-width: 2000px;
	width: 100%;
	background-color: #cad3cd;
}

header {
	width: 100%;
	margin-bottom: 0;
	height: 400px;
  position: relative;
	float: left;
	background-image: url("../project4/images/headerimage.JPG");
	background-size: cover;
}

#headerbackground {
	width: 100%;
	display: none;
}

#headerbackground img {
	width: 100%;
	height: 60%;
}

nav {
	width: 75%;
	height: 80%;
	background-color: rgb(255 255 255 / 80%);
	padding: 5%;
	margin: 8% auto 15% auto
}

#name {
	width: 100%;
	margin-top: 5%;
	margin-left: 3%;
}

h1 {
font-family: "eskorte-latin", serif;
font-weight: 400;
font-style: normal;
color: #255537;
font-size: 2em;
}

#subheading {
	width: 100%;
	margin-top: 3%;
	margin-bottom: 10%;
	margin-left: 3%;
}

h2 {
	font-family: "eskorte-latin", serif;
font-weight: 400;
font-style: normal;
color: #6d8c79;
	font-size: .7em;
}

ul, li {
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	width: 160px;
	line-height: 2.6em;
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: italic;
	text-transform: uppercase;
	font-size: .7em;
	text-decoration: none;
	background-color: #587c68;
	color: white;
	text-align: center;
	border: thin solid white;
	transition: letter-spacing .3s ease-in-out; 
	margin-right: auto;
	margin-left: auto;
}

li a:hover {
	background-color:#255537;
	letter-spacing: .1em;
}



ul.submenu {
	position: absolute;
	line-height: 2.6em;
	height: 0;
	left: 50%;
  	transform: translateX(-50%);
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	transition: height 1s ease-in-out;
	
	
}

.topmenu li:hover ul.submenu {
	height: 500px;
}

section {
	width: 100%;
	background-color: #cad3cd;
}

#aboutme {
	width: 100%;
	height: auto;
	float: left;
	overflow: hidden;
	padding-top: 5%;
}

#bella {
	width: 50%;
	float: left;
	margin-top: 8%;
}

#bella img {
	width: 80%;
	height: 60%;
	border-top-left-radius: 48%;
	border-top-right-radius: 48%;
	margin-right: 10%;
	margin-left: 10%;
}

#aboutmetitle {
	float: left;
	width: 50%;
}

h3 {
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.8em;
	text-align: right;
	margin-right: 6%;
	color: white;
}

#aboutmetext {
	margin-right: 8%;
	margin-top: 3%;
	
}

h4 {
	font-family: "eskorte-latin", serif;
font-weight: 400;
font-style: normal;
	font-size: .4em;
	text-align: right;
	line-height: 1.5em;
	color: #255537;
}

#contact {
	width: 90%;
	float: left;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%
}

#contacttext {
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.5em;
	text-align: left;
	color: white;
}

#social {
	width: 75%;
	margin-top: 3%;
}

#email {
	width: 15%;
	float: left;
}

#email img {
	width: 100%;
	height: 60%;
}

#call {
	width: 15%;
	float: left;
	margin-left: 3%;
}

#call img {
	width: 100%;
	height: 60%;
}

#linkedin {
	width: 15%;
	float: left;
	margin-left: 3%;
}

#linkedin img {
	width: 100%;
	height: 60%;
}

#instagram {
	width: 15%;
	float: left;
	margin-left: 3%;
}

#instagram img {
	width: 100%;
	height: 60%;
}

@media (min-width: 320px){
	
	#aboutme {
		margin-top: 5%;
	}
	
	#contact {
		margin-top: 5%;
	}
	
}

@media (min-width: 350px){
	header {
		height: 450px;
	}
	
	#bella {
		margin-top: 4%; }
}

@media (min-width: 400px){
	header {
		height: 500px;
	}
	
	nav {
		height: 70%;
		margin-top: 13%;
	}
	
	h4 {
		font-size: .5em;
		line-height: 1.4em;
	}
	
	#bella {
		margin-top: 2%; }
	
}

@media (min-width: 450px){
	header {
		height: 550px;
	}
	
	
	#aboutme {
		margin-top: 10%;
	}
	
	#bella {
		margin-top: 0; }
	
	h4 {
		font-size: .7em;
		line-height: 1.4em;
	}
	
}

@media (min-width: 500px){
	header {
		background-image: none;
	}
	
	nav {
		width: 100%;
		margin-top: 0;
		height: 60%;
		padding: 0;
		overflow: hidden;

	}
	
	#introduction {
		float: left;
		width: 50%;
	}
	
	#name {
		margin-left: 7%;
		margin-top: 10%;
	}
	
	#subheading {
		margin-left: 7%;
	}
	
	#headerbackground {
		display: inline;
		width: 50%;
		float: left;
	}
	
	ul.submenu {
	left: 25%;
  	transform: translateX(-50%);
	}
	
	li a {
		line-height: 2.5em;
	}
	
	#aboutme {
		margin-top: -40%;
	}
	
	#social {
		width: 55%;
		margin-top: 1%;
	}
	
	#contacttext {
		font-size: 1.6em;
	}
	

}

@media (min-width: 550px){
	nav {
		height: 65%;
	}
	
	#aboutme {
		margin-top: -27%;
	}
	
	h4 {
		font-size: .8em;
		line-height: 1.2em;
	}
}

@media (min-width: 600px){
	nav {
		height: 70%;
	}
	
	#aboutme {
		margin-top: -22%;
	}
	
	#name {
		margin-left: 10%;
		margin-top: 10%;
	}
	
	#subheading {
		margin-left: 10%;
	}
	
	#social {
		width: 45%;
	}
}

@media (min-width: 650px){
	nav {
		height: 75%;
	}
	
	#aboutme {
		margin-top: -17%;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	h2 {
		font-size: .9em;
	}
	
	
	#social {
		width: 40%;
	}
	
	li a {
		width: 195px;
		font-size: .8em;
	}
	
	h3 {
		font-size: 2em;
	}
	
	#aboutmetext {
		margin-top: 1%;
		margin-right: 5%;
		font-size: 1.1em;
	}
	
	#bella img {
		width: 70%;
		margin-right: 15%;
		margin-left: 15%;
	}
	
	#contacttext {
		font-size: 1.6em;
	}
}

@media (min-width: 700px){
	#aboutme {
		margin-top: -10%;
	}
	
	nav {
		height: 80%;
	}
	
}

@media (min-width: 780px){

	body {
		background-color: white;
	}
	
	nav { 
		background-color: rgb(195 212 202 / 40%);
		height: 85%;
		
	}
	
	#aboutme {
		margin-top: -7%;
	}
	
	#aboutmetext {
		margin-top: 3%;
		margin-right: 5%;
		font-size: 1.1em;
	}
	
	h3 {
		color: #255537;
		font-size: 2.3em;
	}
	
	h4 {
		color: #7ca588;
		font-size: .9em;
	}
	
	#contacttext {
		color: #255537;
		font-size: 1.8em;
		
	}
	
	li a {
		width: 220px;
		font-size: .9em;
		line-height: 2.5em;
	}

}

@media (min-width: 900px){
	
	nav {
		height: 90% }
	
	#aboutme {
		margin-top: -3%;
	}
	
	#social {
		width: 35%;
	}
	
	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 1em;
	}
}

@media (min-width: 1000px){
	nav {
		height: 100% }
	
	h1 {
		font-size: 3.5em;
	}
	
	h2 {
		font-size: 1.2em;
	}
	
	#aboutme {
		margin-top: 5%;
	}
	
	h3 {
		font-size: 3em;
	}
	
	h4 {
		font-size: 1.2em;
	}
	
	#contacttext {
		font-size: 2.5em;
	}
	
}

@media (min-width: 1000px){

	nav {
		height: 110% }
	
	#aboutme {
		margin-top: 10%;
	}
	
	li a {
		width: 265px;
		font-size: 1.2em;
		line-height: 3em;
	}
	
}

@media (min-width: 1000px){
	
	nav {
		height: 120% }
	
	#aboutme {
		margin-top: 15%;
	}
	
	#contacttext {
		font-size: 2.7em;
	}
	
	#social {
		width: 40%;
	}
	
}

@media (min-width: 1100px){
	
	nav {
		height: 130% }
	
	#aboutme {
		margin-top: 20%;
	}
	
	#name {
		margin-top: 12%;
	}
	
	h3 {
		font-size: 3.2em;
	}
	
	h4 {
		font-size: 1.3em;
	}
	
	#contacttext {
		font-size: 2.7em;
	}
	
	#social {
		width: 40%;
	}
	
}

@media (min-width: 1200px){
	header {
		width: 100%;
		padding-bottom: 20%;
		background-color: #587c68;
	}
	
	nav {
		width: 95%;
		margin-top: 3%;
		background-color: rgb(195 212 202 / 90%);
		
	}
		
	ul.submenu {
	left: 26.2%;
  	transform: translateX(-49.9%);
	}
	
	#aboutme {
		margin-top: 8%;
	}
	
	h4 {
		font-size: 1.5em;
	}
	
	h1 {
		font-size: 4em;
	}
	
	h2 {
		font-size: 1.5em;
	}
}

@media (min-width: 1280px){
	header {
		padding-bottom: 20%;
	}
	
}

