@charset "UTF-8";

body {
	margin: 75px 0 0 0;
	background-color: #F8C364;
}
#webfonts {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

h1, h2, h3, h4 {
    color: white;
    font-size: 3.5em;
	
}

h2 {
	color: black;
	font-family:
}

h3 {
	font-family: "calgary-script-ot", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h4 {
	color: black;
}
