@charset "UTF-8";


/*.stairs {}

.stairs img {}

.house {}

.house img {}

.tree3 {}

.tree3 img {}

.bush img {}

.bush {}

.christopherrobin img {}

.christopherrobin {}

.mud img {}

.mud {}

.footprints img {}

.footprints {}

.balloon img {}

.balloon {}

.flying img {}

.flying {}

.umbrella img {}

.umbrella {}

.solobees img {}

.solobees {}

.solobees2 img {}

.solobees2 {}

.pop img {}

.pop {}

.bathmat img {}

.bathmat {}

.bath img {}

.bath {}*/


article {
	width: 100%;
	min-width: 320px;
	max-width: 2000px;
	background-color: transparent;
}

nav {
	width: 90%;
	margin-left: 10%;
	margin-right: 10%;
}

nav .back, nav .home, nav .next {
	width: 20%;
	height: 3.5em;
	margin-left: 9%;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	transition: background-image 1s ease-in;
}

nav .back {
	background-image: url("images/nav2-normal.png");
}

nav .back:hover {
	background-image: url("images/nav2.png");
}

nav .home {
	background-image: url("images/nav3-normal.png");
}

nav .home:hover {
	background-image: url("images/nav3.png");
}

nav .next {
	background-image: url("images/nav1-normal.png");
	margin-right: 0;
}

nav .next:hover {
	background-image: url("images/nav1.png");
}

p {
	font-family: "p22-typewriter", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: .75em;
	margin-left: 3%;
	margin-right: 7%;
	margin-top: 3%;
	color: #996633;
	line-height: 1.2em;
}

/*TITLE*/

header {
	width: 100%;
	background-color: #f9f2ec;
	padding-bottom: 5%;
	padding-top: 5%;
}

h1 { 
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	font-family: "hey-eloise", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: center;
    transform: translate(0, -450%);
    color: #e69900;
	background-color: #ffcc66;
	border-radius: 10px;
	padding-top: .1em;
}

h2 {
	font-family: "storybook", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
	margin-left: 3%;
	margin-top: -15%;
	color: #664400;
}


h3 {
	font-family: "p22-typewriter", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	margin-left: 3%;
	margin-right: 5%;
	color: #664400;
	line-height: 1.2em;
}

.tree1, .tree2, .tree4 {
	display: none;
}

.lookingup {
	width: 80%;
	margin-left: 15%;
}

.lookingup img {
	width: 90%;
	height: 50%;
}

/*SECTION*/
section {
	width: 100%;
	background-color: transparent;
	padding-top: 3%;
}

section p.first::first-letter {
		margin-left: 7%
	}

.stairs {
	width: 75%;
	margin-left: 12%;
}

.stairs img {
		width: 100%;
	}

.house {
	width: 75%;
	margin-left: 15%;
}

.house img {
	width: 100%;
}

.tree3 {
	width: 65%;
	margin-left: 20%;
}

.tree3 img {
	width: 100%;
}

.bush {
	width: 75%;
	margin-left: 15%;
}

.bush img {
	width: 100%;
}

.christopherrobin {
	width: 75%;
	margin-left: 15%;
}

.christopherrobin img {
	width: 100%;
}

.mud {
	width: 85%;
	margin-left: 7%;
}

.mud img {
	width: 100%;
}

.footprints {
	width: 85%;
	margin-left: 7%;
}

.footprints img {
	width: 100%;
}

.balloon {
	width: 85%;
	margin-left: 7%;
}

.balloon img {
	width: 100%;
}

.flying {
	width: 85%;
	margin-left: 7%;
}

.flying img {
	width: 100%;
}

.umbrella {
	width: 75%;
	margin-left: 7%;
}

.umbrella img {
	width: 100%;
}

.solobees {
	width: 90%;
	margin-left: 3%;
}

.solobees img {
	width: 100%;
}

.solobees2 {
	width: 90%;
	margin-left: 3%;
}


.solobees2 img {
	width: 100%;
}

.pop {
	width: 90%;
	margin-left: 3%;
}

.pop img {
	width: 100%;
}

.bathmat {
	width: 90%;
	margin-left: 5%;
}

.bathmat img {
	width: 100%;
}

.bath {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.bath img {
	width: 100%;
	margin-bottom: 4%;
}

blockquote {
	width: 75%;
	margin: 1em auto;
	padding: .5em;
	background-color: #ffcc66;
	border-radius: 10px;
	color: white;
	font-size: .9em;
	text-align: center;
	line-height: 1.25;
	font-family: "p22-typewriter", sans-serif;
	font-weight: 400;
	font-style: normal;

}

@media (min-width: 320px){
	
	nav .back, nav .home, nav .next {
		height: 4.5em;
	}
	
	nav {
		margin-bottom: 1em;
	}
}

.stairs img {
		width: 100%;
		height: 80%;
	margin-top: 10%;
	}
.house img {
	width: 100%;
	height: 80%;
	margin-top: 5%;
}
.tree3 img {
	width: 90%;
	height: 70%;
}
.bush img {
	width: 100%;
	height: 80%;
	margin-top: 2%;
}
.christopherrobin img {
	width: 100%;
	height: 80%;
}
.mud img {
	width: 100%;
	height: 80%;
}
.footprints img {
	width: 100%;
	height: 80%;
}
.balloon img {
	width: 100%;
	height: 80%;
	margin-top: 3%;
}
.flying img {
	width: 100%;
	height: 80%;
}
.umbrella img {
	width: 100%;
	height: 80%;
}
.solobees img {
	width: 100%;
	height: 80%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 100%;
	height: 80%;
	margin-top: 3%;
}
.bathmat img {
	width: 100%;
	height: 80%;
	margin-top: 3%;
}
.bath img {
	width: 100%;
	height: 80%;
}

blockquote {
	font-size: 1em;
}

blockquote.pullquote1 {
	width: 70%;
}

blockquote.pullquote2 {
	width: 60%;
}

blockquote.pullquote3 {
	width: 50%;
}

blockquote.pullquote4 {
	width: 30%;
}

blockquote.pullquote5 {
	width: 55%;
}

blockquote.pullquote6 {
	width: 55%;
}

blockquote.pullquote7 {
	width: 70%;
}

blockquote.pullquote8 {
	width: 50%;
}

blockquote.pullquote9 {
	width: 60%;
}

blockquote.pullquote10 {
	width: 60%;
}

@media (min-width: 400px){
	
	h1 {
		width: 70%;
		transform: translate(0, -550%)
	}
}

@media (min-width: 450px){
	
	nav .back, nav .home, nav .next {
	width: 20%;
	height: 3.5em;
	margin-left: 10%;
	}
	
	h1 {
		transform: translate(0, -550%);
		width: 60%;
	}
	
	h2 {
		font-size: 2.7em;
		margin-top: -7%;
	}
	
	h3 {
		margin-bottom: -5%;
		line-height: 1.5em;
		font-size: 1em;
		
	}
	
	p {
	margin-right: 3%;
	}
	
	.stairs img {
		width: 90%;
		height: 70%;
		margin-left: 7%;
	}
	.house img {
	width: 90%;
	height: 70%;
	}
	.tree3 img {
	width: 70%;
	height: 40%;
	margin-left: 10%;
	}
	.bush img {
	width: 90%;
	height: 70%;
	margin-left: 4%;
	}
	.christopherrobin img {
	width: 60%;
	height: 70%;
	margin-left: 20%;
}
.mud img {
	width: 90%;
	height: 80%;
	margin-left: 4%;
}
.footprints img {
	width: 90%;
	height: 80%;
	margin-left: 4%;
}
.balloon img {
	width: 80%;
	height: 80%;
	margin-left: 7%;
}
.flying img {
	width: 80%;
	height: 80%;
	margin-left: 7%;
}
.umbrella img {
	width: 80%;
	height: 80%;
	margin-left: 12%;
}
.solobees img {
	width: 90%;
	height: 80%;
	margin-left: 5%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 80%;
	height: 80%;
	margin-left: 13%;
}
.bathmat img {
	width: 80%;
	height: 80%;
	margin-left: 10%;
}
.bath img {
	width: 80%;
	height: 80%;
	margin-left: 10%;
}
	blockquote {
		font-size: .9em;
	}
	
blockquote.pullquote8 {
		width: 35%;
	}

blockquote.pullquote4 {
		width: 20%;
	}
blockquote.pullquote7 {
		width: 50%;
	}
	
	blockquote.pullquote1 {
		width: 50%;
	}
	blockquote.pullquote2 {
		width: 55%;
	}
	
	blockquote.pullquote3 {
		width: 45%;
	}
	
	blockquote.pullquote5 {
		width: 40%;
	}
	
	blockquote.pullquote6 {
		width: 37%;
	}
	
	blockquote.pullquote9 {
		width: 40%;
	}
	
	blockquote.pullquote10 {
		width: 37%;
	}
}

@media (min-width: 525px){
	h1 {
		width: 50%;
		font-size: 2.7em;
		transform: translate(0, -575%);
	}
	
	.lookingup img {
		width: 75%;
		margin-left: 7%;
	}
	
	h3 {
		font-size: .9em;
	}
	
		.stairs img {
		width: 50%;
		height: 70%;
		margin-left: 27%;
	}
	.house img {
	width: 50%;
	height: 70%;
	margin-left: 25%;
	}
	
	.tree3 img {
	width: 40%;
	height: 40%;
	margin-left: 30%;
	margin-top: 2%;
	}
	
	.bush img {
	width: 60%;
	height: 70%;
	margin-left: 15%;
		margin-top: 2%;
	}
	.christopherrobin img {
	width: 35%;
	height: 70%;
	margin-left: 35%;
		margin-top: 2%;
}
.mud img {
	width: 60%;
	height: 80%;
	margin-left: 20%;
	margin-top: 2%;
}
.footprints img {
	width: 60%;
	height: 80%;
	margin-left: 20%;
	margin-top: 2%;
}
.balloon img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
}
.flying img {
	width: 50%;
	height: 80%;
	margin-left: 27%;
	margin-top: 2%;
}
.umbrella img {
	width: 50%;
	height: 80%;
	margin-left: 32%;
}
.solobees img {
	width: 60%;
	height: 80%;
	margin-left: 23%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 50%;
	height: 80%;
	margin-left: 30%;
}
.bathmat img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
}
.bath img {
	width: 50%;
	height: 80%;
	margin-left: 26%;
	margin-top: 2%;
}
	
	blockquote.pullquote1 {
		width: 40%;
	}
	
	blockquote.pullquote2 {
		width: 45%;
	}
blockquote.pullquote3 {
		width: 34%;
	}

blockquote.pullquote4 {
		width: 13%;
	}
	
blockquote.pullquote5{
		width: 30%;
	}
blockquote.pullquote7 {
		width: 37%;
	}
	blockquote.pullquote6 {
		width: 28%;
	}
	blockquote.pullquote8 {
	width: 28%;
	}
	blockquote.pullquote9 {
	width: 33%;
	}
	blockquote.pullquote10 {
		width: 30%;
	}
}

@media (min-width: 600px){
	
	nav .back, nav .home, nav .next {
	width: 20%;
	height: 3.5em;
	margin-left: 10%;
	}
	
	nav.back img {
		width: 50%;
	}
	
	h1 {
		width: 50%;
		transform: translate(0, -550%);
		text-align: center;
	}
	.lookingup img {
		width: 70%;
		height: 40%;
		margin-left: 5%;
	}
	
	h2 {
		font-size: 3em;
	}
	
	h3 {
		font-size: .9em;
		margin-bottom: -5%;
	}
	
	p {
		line-height: 1.2em;
		text-align: center
	}
	section p.first {
		margin-top: 0;
	}
	section {
		padding-top: -5%;
	}
	
		.stairs img {
		width: 50%;
		height: 70%;
		margin-left: 30%;
	}
	.house img {
	width: 60%;
	height: 70%;
	margin-left: 20%;
	}
	
	.tree3 img {
	width: 40%;
	height: 40%;
	margin-left: 30%;
	margin-top: 2%;
	}
	
	.bush img {
	width: 60%;
	height: 70%;
	margin-left: 15%;
		margin-top: 2%;
	}
	.christopherrobin img {
	width: 35%;
	height: 70%;
	margin-left: 35%;
		margin-top: 2%;
}
.mud img {
	width: 60%;
	height: 80%;
	margin-left: 20%;
	margin-top: 2%;
}
.footprints img {
	width: 60%;
	height: 80%;
	margin-left: 20%;
	margin-top: 2%;
}
.balloon img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
}
.flying img {
	width: 50%;
	height: 80%;
	margin-left: 27%;
	margin-top: 2%;
}
.umbrella img {
	width: 50%;
	height: 80%;
	margin-left: 32%;
}
.solobees img {
	width: 60%;
	height: 80%;
	margin-left: 23%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 50%;
	height: 80%;
	margin-left: 30%;
}
.bathmat img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
}
.bath img {
	width: 50%;
	height: 80%;
	margin-left: 26%;
	margin-top: 2%;
}
	
	blockquote.pullquote1 {
		width: 35%;
	}
	
	blockquote.pullquote2 {
		width: 50%;
	}
blockquote.pullquote3 {
		width: 35%;
	}

blockquote.pullquote4 {
		width: 13%;
	}
	
blockquote.pullquote5{
		width: 30%;
	}
blockquote.pullquote7 {
		width: 37%;
	}
	blockquote.pullquote6 {
		width: 28%;
	}
	blockquote.pullquote8 {
	width: 25%;
	}
	blockquote.pullquote9 {
	width: 30%;
	}
	blockquote.pullquote10 {
		width: 30%;
	}
}

@media (min-width: 700px){
	h1 {
		transform: translate(0, -730%);
		font-size: 2.6em;
		width: 40%;
	}
	
	.lookingup img {
		width: 65%;
		margin-left: 10%;
	}
}

@media (min-width: 768px){
	
	header {
	width: 40%;
	background-color: transparent;
	top: 0;
	right: 10%;
	position: absolute;
	max-width: 500px;
	}
	
	.tree4 {
	display: block;
	width: 35%;
	height: 10%;
	right: 0;
	padding-left: 15%;
	margin-top: 1.5%;
}
	
	.tree4 img {
		width: 85%;
		height: 90%;
	}
	
	.lookingup img {
		width: 75%;
	}
	
	nav {
		width: 70%;
		float: right;
		margin-top: -7%;
	 }
	
	h1 {
		transform: translate(0, -250%);
		font-size: 2.3em;
	}

	h2 {
		text-align: center;
		margin-top: -25%;
		font-size: 2.7em;
	}
	
	h3 {
		text-align: center;
		font-size: .8em;

	}
	
	section {
		background-color: #f9f2ec;
	}
	
	p {
		font-size: .8em;
		line-height: 1.2em;
		text-align: center;
	}
	
	.stairs img {
		width: 50%;
		height: 70%;
		margin-left: 27%;
	}
	.house img {
	width: 60%;
	height: 70%;
	margin-left: 20%;
	}
	
	.tree3 img {
	width: 40%;
	height: 20%;
	margin-left: 27%;
		margin-top: 2%;
	}
	
	.bush img {
	width: 50%;
	height: 70%;
	margin-left: 20%;
	}
	
	.christopherrobin img {
	width: 30%;
	height: 70%;
	margin-left: 33%;
		margin-top: 2%;
}
.mud img {
	width: 70%;
	height: 80%;
	margin-left: 15%;
	margin-top: 2%;
}
.footprints img {
	width: 70%;
	height: 80%;
	margin-left: 15%;
}
.balloon img {
	width: 60%;
	height: 80%;
	margin-left: 20%;
}
.flying img {
	width: 55%;
	height: 80%;
	margin-left: 25%;
	margin-top: 2%;
}
.umbrella img {
	width: 50%;
	height: 80%;
	margin-left: 30%;
}
.solobees img {
	width: 70%;
	height: 80%;
	margin-left: 20%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 60%;
	height: 80%;
	margin-left: 25%;
}
.bathmat img {
	width: 55%;
	height: 80%;
	margin-left: 25%;
}
.bath img {
	width: 55%;
	height: 80%;
	margin-left: 25%;
}
	blockquote {
		font-size: 1em;
		
	}
	
	blockquote.pullquote1 {
		width: 30%;
	}
	
	blockquote.pullquote2 {
		width: 40%;
	}
	
	blockquote.pullquote3 {
		width: 32%;
	}
	
	blockquote.pullquote5, .pullquote6 {
		width: 25%;
	}
	blockquote.pullquote6 {
		width: 25%;
	}
	
	blockquote.pullquote7 {
		width: 35%;
	}
	
	blockquote.pullquote8 {
		width: 25%;
	}
	blockquote.pullquote9 {
		width: 27%;
	}
	
	blockquote.pullquote10 {
		width: 25%;
	}
}

@media (min-width: 880px){
	
	header {
	width: 40%;
	background-color: transparent;
	top: 0;
	right: 10%;
	position: absolute;
	max-width: 500px;
	}
	
	h1 {
		width: 42%;
		font-size: 2.3em;
		transform: translate(0, -250%)
	}
	h2 {
		margin-top: -22%;
		font-size: 2.6em;
	}
	
	h3 {
		font-size: .8em;
	}
	
	.tree4 {
		width: 35%;
	}
	
	section {
		margin-top: 2%;
	}
	
	.stairs img {
		width: 40%;
		height: 70%;
		margin-left: 35%;
	}
	.house img {
	width: 50%;
	height: 70%;
	margin-left: 27%;
	}
	
	.tree3 img {
	width: 35%;
	height: 20%;
	margin-left: 30%;
		margin-top: 2%;
	}
	
	.bush img {
	width: 40%;
	height: 70%;
	margin-left: 30%;
	}
	
	.christopherrobin img {
	width: 30%;
	height: 70%;
	margin-left: 33%;
		margin-top: 2%;
}
.mud img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
	margin-top: 2%;
}
.footprints img {
	width: 50%;
	height: 80%;
	margin-left: 27%;
	margin-top: 2%;
	
}
.balloon img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
}
.flying img {
	width: 50%;
	height: 80%;
	margin-left: 30%;
	margin-top: 2%;
}
.umbrella img {
	width: 45%;
	height: 80%;
	margin-left: 34%;
}
.solobees img {
	width: 60%;
	height: 80%;
	margin-left: 25%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 50%;
	height: 80%;
	margin-left: 30%;
}
.bathmat img {
	width: 45%;
	height: 80%;
	margin-left: 30%;
}
.bath img {
	width: 50%;
	height: 80%;
	margin-left: 25%;
}
	blockquote {
		font-size: .95em;
		
	}
	
	blockquote.pullquote1 {
		width: 25%;
	}
	
	blockquote.pullquote2 {
		width: 35%;
	}
	
	blockquote.pullquote3 {
		width: 25%;
	}
	
	blockquote.pullquote4 {
		width: 8%;
	}
	
	blockquote.pullquote5{
		width: 20%;
	}
	blockquote.pullquote6 {
		width: 20%;
	}
	
	blockquote.pullquote7 {
		width: 28%;
	}
	
	blockquote.pullquote8 {
		width: 20%;
	}
	blockquote.pullquote9 {
		width: 22%;
	}
	
	blockquote.pullquote10 {
		width: 20%;
	}
	
	
}

@media (min-width: 1000px){
	nav {
		width: 85%;
		margin-left: -0%;
	}
	header {
	width: 40%;
	background-color: transparent;
	top: 0;
	right: 7%;
	position: absolute;
	max-width: 500px;
	}
	
	.lookingup {
		width: 70%;
	}
	
	.lookingup img {
		width: 80%;
	}
	
	.tree4 {
		width: 32%;
		margin-left: 4%;
	}
	.tree4 img{
		height: 0%;
	}
	
	h1 {
		font-size: 2.7em;
		transform: translate(0, -250%);
	}
	
	h2 {
		font-size: 3em;
		margin-top: -20%;
	}
	
	h3 {
		width: 90%;
		font-size: .8em;
	}
	
	section {
		margin-top: 5%;
	}
	
	blockquote {
		font-size: 1em;
	}
	
	blockquote.pullquote1 {
		width: 20%;
	}
	
	blockquote.pullquote2 {
		width: 30%;
	}
	
	blockquote.pullquote3 {
		width: 20%;
	}
	
	blockquote.pullquote4 {
		width: 8%;
	}
	
	blockquote.pullquote5 {
		width: 15%;
	}
	
	blockquote.pullquote6 {
		width: 15%;
	}
	
	blockquote.pullquote7 {
		width: 22%;
	}
	
	blockquote.pullquote8 {
		width: 15%;
	}
	
	blockquote.pullquote9 {
		width: 16%;
	}
	
	blockquote.pullquote10 {
		width: 15%;
	}
	
	.stairs img {
		width: 30%;
		height: 70%;
		margin-left: 40%;
		margin-top: 2%;
		margin-bottom: -2%;
	}
	.house img {
	width: 35%;
	height: 70%;
	margin-left: 33%;
	}
	
	.tree3 img {
	width: 27%;
	height: 20%;
	margin-left: 37%;
		margin-top: 2%;
	}
	
	.bush img {
	width: 35%;
	height: 70%;
	margin-left: 30%;
	margin-top: 3%;
	}
	
	.christopherrobin img {
	width: 23%;
	height: 70%;
	margin-left: 40%;
		margin-top: 2%;
}
.mud img {
	width: 40%;
	height: 80%;
	margin-left: 32%;
	margin-top: 2%;
}
.footprints img {
	width: 45%;
	height: 80%;
	margin-left: 30%;
	margin-top: 2%;
}
.balloon img {
	width: 30%;
	height: 80%;
	margin-left: 35%;
}
.flying img {
	width: 30%;
	height: 80%;
	margin-left: 38%;
	margin-top: 2%;
}
.umbrella img {
	width: 30%;
	height: 80%;
	margin-left: 42%;
}
.solobees img {
	width: 40%;
	height: 80%;
	margin-left: 33%;
}
.solobees2 {
	display: none;
}
.pop img {
	width: 40%;
	height: 80%;
	margin-left: 35%;
}
.bathmat img {
	width: 35%;
	height: 80%;
	margin-left: 35%;
}
.bath img {
	width: 35%;
	height: 80%;
	margin-left: 33%;
}
}

@media (min-width: 1100px){
	nav {
		width: 75%;
	}
	
	header {
	width: 40%;
	background-color: transparent;
	top: 0;
	right: 10%;
	position: absolute;
	max-width: 500px;
	}
	
	.lookingup {
		width: 70%;
	}
	
	.lookingup img {
		width: 80%;
		align-content: center;
	}
	
	.tree4 {
		width: 30%;
		margin-left: 2%;
	}
	.tree4 img {
		width: 90%;
	}
	
	h1 {
		transform: translate(0, -450%);
		width: 60%;
	}
	
	h2 {
		font-size: 3em;
		margin-top: -9%;
	}
	
	h3 {
		font-size: 1em;
		width: 80%;
		margin-left: 12%;
	}
	
	section {
		margin-top: 0;
	}
}

@media (min-width: 1200px){
	.tree4 img {
		width: 90%;
	}
	
	h3 {
		width: 70%;
		margin-left: 15%;
	}
	
}

@media (min-width: 1280px){
	
	article {
		background-color: #f9f2ec;
		
	}
	
	.tree4 {
		width: 33%;
		margin-left: -11%;
		float: left;
	}
	
	.tree4 img {
		width: 90%;
	}
	
	h3 {}	
	
	nav {
		width: 75%;
	}
	
	.lookingup {
		width: 80%;
	}
	
	.lookingup img {
		width: 100%;
		margin-left: -7%;
	}
	
	header {
		width: 33%;
		margin-right: 23%;
		float: left;
	}
	
	h1 {
		transform: translate(0,-540%);
	}
	
	nav {
		margin-top: -12%;
	}
	
	.tree1 {
		display: inline;
		float: right;
		width: 33%;
		height: 40%;
		margin-right: -2%;
		margin-top: 1.5%;
	}
	
	
	.tree1 img {
		width: 90%;
		height: 40%;
	}
	
	section {
		margin-top: 60%
	}
	
	p {
		font-size: 1em;
		text-align: left;
	}
	
	.stairs {
		margin-right: auto;
		margin-left: auto;
	}
	.stairs img {
		width: 30%;
		height: 70%;
		margin-left: 33%;
	}
	.house img {
	width: 40%;
	height: 70%;
	margin-left: 27%;
	}
	
	.tree3 img {
	width: 30%;
	height: 20%;
	margin-left: 30%;
	margin-top: 2%;
	}
	
	.bush img {
	width: 40%;
	height: 70%;
	margin-left: 25%;
		margin-top: 2%;
	}
	
	.christopherrobin img {
	width: 30%;
	height: 70%;
	margin-left: 33%;
	margin-top: 2%;
}
.mud img {
	width: 40%;
	height: 80%;
	margin-left: 30%;
	margin-top: 2%;
}
.footprints img {
	width: 50%;
	height: 80%;
	margin-left:23%;
	margin-top: 2%;
}
.balloon img {
	width: 40%;
	height: 80%;
	margin-left: 30%;
	margin-top: 2%;
}
.flying img {
	width: 40%;
	height: 80%;
	margin-left: 30%;
	margin-top: 2%;
}
.umbrella img {
	width: 40%;
	height: 80%;
	margin-left: 35%;
	margin-top: 2%;
}
.solobees img {
	width: 50%;
	height: 50%;
	margin-left: 30%;
}
.pop img {
	width: 40%;
	height: 80%;
	margin-left: 35%;
}
.bathmat img {
	width: 40%;
	height: 80%;
	margin-left: 33%;
}
.bath img {
	width: 40%;
	height: 80%;
	margin-left: 30%;
	margin-top: 2%;
}
	blockquote {
		font-size: 1.2em;
		background-color: #ac7339;
	}
	
	blockquote.pullquote1 {
		width: 25%;
	}
	
	blockquote.pullquote2{
		width: 30%;
	}
	
	blockquote.pullquote3 {
		width: 23%;
	}
	
	blockquote.pullquote4 {
		width: 7%;
	}
	
	blockquote.pullquote5 {
		width: 17%;
	}
	
	blockquote.pullquote6 {
		width: 16%;
	}
	
	blockquote.pullquote7 {
		width: 25%;
	}
	
	blockquote.pullquote8 {
		width: 16%;
	}
	
	blockquote.pullquote9 {
		width: 18%;
	}
	
	blockquote.pullquote10 {
		width: 18%;
	}
	
}
