@charset "UTF-8";

article {
	min-width: 320px;
	max-width: 1500px;
	width: 100%;
	background-color: #edede7;
	height: 100%;
	}

#container {
	min-width: 320px;
	max-width: 2000px;
	width: 100%;
	background-color: #edede7;
	padding-bottom: 5%;
	height: 100%;
}

header {
	width: 100%;
  	position: relative;
	float: left;
	background-color: #6d8c79;
}

nav {
	width: 70%;
	height: 70%;
	background-color: rgb(255 255 255 / 80%);
	padding: 5%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
}

#title {
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: normal;
	color: #255537;
	font-size: 2em;
	text-align: center;
}
#subheading {
	margin-top: 2%;
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: normal;
	color: #6d8c79;
	font-size: 1em;
	text-align: center;
}


#back {
	margin-top: 2%;
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: normal;
	color: #6d8c79;
	font-size: .8em;
	text-align: center;
}

h1 {
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: italic;
	color: #255537;;
	font-size: 1.3em;
	text-align: center;
}

p {
	font-family: "eskorte-latin", serif;
	font-weight: 400;
	font-style: normal;
	color: #6d8c79;
	font-size: .8em;
	text-align: center;
	margin: 3% auto 7%;
	line-height: 1.3em;
	width: 80%;
}


#preevent, #eventdirector, #eventday, #postevent {
	padding-top: 5%;
	float: left;
	background-color: #edede7;
}

#postevent {
	padding-bottom: 5%;
}

#wholeclass, #class, #team, #timeline, #prestatus, #vendorteam, #smile, #event, #bella, #poststatus, #manual {
	width: 60%;
	margin: 3% auto;
}

#wholeclass img, #class img, #team img, #timeline img, #prestatus img, #vendorteam img, #smile img, #event img, #bella img, #poststatus img, #manual img {
	width: 100%;
	height: 60%; }

@media (min-width: 320px){
	#back {
		margin-top: 3%;
	}
	
}
	
	@media (min-width: 450px){
		
		nav {
			padding: 3%;
			width: 60%;
		}

		
}

@media (min-width: 550px){
	
	#wholeclass, #class, #team, #timeline, #prestatus, #vendorteam, #smile, #event, #bella, #poststatus, #manual {
	width: 40%;
	margin: 3% auto;
}
	
	#team, #timeline, #vendorteam, #smile, #event, #bella, #poststatus, #manual {
		float: left;
		margin-left: 6.67%;
}
	
	#vendorteam, #smile, #event, #bella {
		background-color: #edede7;
	}
	
	p {
		margin-top: 1%;
	}
	
	h1 {
		font-size: 1.3em;
	}
}

@media (min-width: 650px){
	nav {
		width: 55%;
	} 
	#team, #timeline {
		width: 30%;
		margin-left: 15%;
	}
	
	#event, #bella {
		width: 35%;
		margin-left: 10%;
	}
	
	#manual {
		width: 35%;
	}
	
	#manual, #poststatus {
		margin-left: 8.33%;
	}
	
	h1 {
		font-size: 1.3em;
	}
}


@media (min-width: 780px){
	nav {
		width: 60%;
	}
	
	#wholeclass, #class {
		float: left;
		width: 35%;
		margin-left: 10%;
		margin-bottom: 0;
	}
	
	#prestatus {
		width: 35%;
	
}
	
	p {
		width: 70%;
		margin-bottom: 3%;
		font-size: .8em;
	}
	
	#title {
		font-size: 2em;
	}
	
	#back {
		font-size: 1em;
	}
	
	h1 {
		font-size: 1.5em;
	}
	
	#manual, #poststatus, #event, #bella {
		width: 30%;
		margin-left: 13.33%
	}
	
}

@media (min-width: 900px){
	h1 {
		font-size: 2.3em;
	}
	
	nav {
		width: 55%;
		margin: 3% auto;
	}
	
	header {
		padding: 0%;
	}
	
	#title {
		font-size: 2.3em;
	}
	
	p {
		font-size: .9em;
	}
}

@media (min-width: 1000px){
	p {
		font-size: 1.2em;
		width: 75%;
	}
	
	#back {
		font-size: 1.2em;
	}
	
	nav {
		width: 55%;
		margin: 3% auto;
		padding: 2%;
	}
}

@media (min-width: 1100px){
	p {
		font-size: 1.3em;
		width: 70%;
	}
	#back {
		font-size: 1.3em;
	}
}

@media (min-width: 1280px){
	h1 {
		font-size: 2em;
	}
	
	#title {
		font-size: 2.7em;
	}
	
	p {
		font-size: 1.2em;
	}
	
	#back {
		font-size: 1.5em;
	}
	
}